<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href=".hello.css">
</head>
<body>
    <h1 id="demo">Home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ut, consequatur possimus neque aperiam fuga enim quis adipisci eum animi, rerum alias quos sit! Error perferendis voluptates earum possimus aut.</p>

    <!-- <img src="images/pic.jpg" > -->
    <!-- this is vitual path -->
    <img src="photo/pic.jpg" >
    <br>
    <label>
        Enter NAme :<input type="text" id="uname"/>
        <button onclick="showmsg()">Click Me</button>
    </label>
    <h3 id="h3"> </h3>
    <script src="js/script.js"></script>
</body>
</html>